.background-white {
    background-color: rgba(0,0,0,.5);
}

.background-primary{
    background: url("../../public/Fotor_AI.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}