#landing {
    background-color: $color-primary;
    ul {
        margin-bottom: 0px !important;
    }

    

    .main-message {
        width: 621px;
        color: white;
        position: relative;
        top: 250px;

    }

    .img-bg {
        width: 519px;
    }
}