#landing {
    background-color: $color-primary;
    
    .background-primary{
        background: url("../../public/Fotor_AI.png");
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
    }
}