/**************** BASE COLORS ******************/
$color-primary: #1E1F22;
$color-secondary: #F55139;
$color-tertiary: #EBE7D9;
$color-quaternary: #00FFFF; // Darker gray fonts on light gray background
$color-quinary: #7399C7; // Very light gray background used for pages and modals
// $color-senary: #ffffff;